APScheduler==3.10.4
attr==0.3.2
ConfigParser==7.2.0
cryptography==41.0.5
docutils==0.21.2
fastapi==0.115.14
filelock==3.18.0
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
passlib==1.7.4
protobuf==6.31.1
pydantic==2.11.7
pyOpenSSL==25.1.0
python_jose==3.5.0
redis==5.2.0
Sphinx==8.2.3
SQLAlchemy==2.0.41
thread==2.0.5
urllib3_secure_extra==0.1.0
